<div *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
<div *ngIf="parkedSomewhere == true">
    <h2>Currently Parked:</h2>
    <table>
      <tr class="tableHeaderRow">
      <th>Lot Name</th>
      <th>Lot Address</th>
      <th>Spot Number</th>
      <th>Spot Rate</th>
      </tr>
      <tr [routerLink]="['/lot/', lot.id]" class="tableRow">
        <td>{{lot.name}}</td>
        <td>{{lot.address}} {{lot.city}}, {{lot.state}} {{lot.zip}}</td>
        <td>{{spot.spotNumber}}</td>
        <td>{{spot.parkingRatePerHour | currency}}</td>
      </tr>
    </table>
</div>
<div *ngIf="parkedSomewhere == false">
    <a [routerLink] = "['lots']"><h2>Find A Lot!</h2></a>
</div>
<div *ngIf="isLoadingHistory">
    <mat-spinner *ngIf="isLoadingHistory"></mat-spinner>
  </div>
  <h2>Parking History:</h2>
<table>
    <!-- Lot Name Column -->
    <tr class="tableHeaderRow">        
      <th>Lot Name</th>
      <th>Lot Address</th>
      <th>Spot Number</th>
      <th>Date Entered</th>
      <th>Date Exited</th>
    </tr>

      <tr *ngFor="let row of historyItems" class="tableRow">
        <td>{{row.parkingLotName}}</td>
        <td>{{row.parkingLotAddress}} {{row.parkingLotCity}}, {{row.parkingLotState}} {{row.parkingLotZip}}</td>
        <td>{{row.spotNumber}}</td>
        <td>{{row.parkingEnteredTime | date : 'medium'}}</td>
        <td>{{row.parkingExitedTime | date : 'medium'}}</td>
      </tr>
  </table>