<div >
  <div *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
  </div>
  <div class="">
    <table>
      <!-- Lot Name Column -->
      <tr class="tableHeaderRow">        
        <th>Parking Lot Name</th>
        <th>Parking Lot Address</th>
        <th>Parking Lot Capacity</th>
      </tr>

        <tr *ngFor="let row of data" [routerLink]="['/lot/', row.id]" class="tableRow">
          <td>{{row.name}}</td>
          <td>{{row.address}} {{row.city}}, {{row.state}} {{row.zip}}</td>
          <td>{{row.lotCapacity}}</td>
        </tr>
    </table>
  </div>
</div>