<h1>{{title}}</h1>
<p>You are logged in as {{username}}.    
    <button (click)='login()'>Log in</button>
    <button (click)='logout()'>Log out</button></p>
<p>
    <button [routerLink] = "['/']">Home</button>
    <button [routerLink] = "['/lots']">Lots</button>
    <button [routerLink] = "['/addlot']">Add Lot</button>
</p>