<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="parkinglotForm" (ngSubmit)="onFormSubmit(parkinglotForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Parking Lot Name" formControlName="name">
          <mat-error>
            <span *ngIf="!parkinglotForm.get('name').valid && parkinglotForm.get('name').touched">Please enter Parking Lot Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address">
          <mat-error>
            <span *ngIf="!parkinglotForm.get('address').valid && parkinglotForm.get('address').touched">Please enter the address</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City" formControlName="city">
          <mat-error>
            <span *ngIf="!parkinglotForm.get('city').valid && parkinglotForm.get('city').touched">Please enter the city</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" formControlName="state">
          <mat-error>
            <span *ngIf="!parkinglotForm.get('state').valid && parkinglotForm.get('state').touched">Please enter the state</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Zip" formControlName="zip">
          <mat-error>
            <span *ngIf="!parkinglotForm.get('zip').valid && parkinglotForm.get('zip').touched">Please enter the zip</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Lot Capacity" formControlName="lotCapacity">
            <mat-error>
              <span *ngIf="!parkinglotForm.get('lotCapacity').valid && parkinglotForm.get('lotCapacity').touched">Please enter the lot capacity</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Handicap Capacity" formControlName="handicapCapacity">
          <mat-error>
            <span *ngIf="!parkinglotForm.get('handicapCapacity').valid && parkinglotForm.get('handicapCapacity').touched">Please enter the lot handicap capacity</span>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Parking Rate Per Hour" formControlName="parkingRatePerHour">
        <mat-error>
          <span *ngIf="!parkinglotForm.get('parkingRatePerHour').valid && parkinglotForm.get('parkingRatePerHour').touched">Please enter the lot rate per hour</span>
        </mat-error>
    </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!parkinglotForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>