<div>
  <div
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <h2>Parking Lot</h2>
      <table>
          <tr class="tableHeaderRow">
          <th>Lot Name</th>
          <th>Lot Address</th>
          <th>Lot Capacity</th>
          </tr>
          <tr [routerLink]="['/lot/', lot.id]" class="tableRow">
            <td>{{lot.name}}</td>
            <td>{{lot.address}} {{lot.city}}, {{lot.state}} {{lot.zip}}</td>
            <td>{{lot.lotCapacity}}</td>
          </tr>
        </table>
  <div class="">
    <h2>Parking Lot Spots</h2>
      <table>
        <!-- Lot Name Column -->
        <tr class="tableHeaderRow">        
          <th>Number</th>
          <th>Occupied</th>
          <th>Handicap?</th>
          <th>Rate Per Hour</th>
          <th>Park</th>
          <th>Exit</th>
        </tr>
  
          <tr *ngFor="let row of spotsData" class="tableRow">
            <td>{{row.spotNumber}}</td>
            <td>{{row.user? 'Yes' : 'No' }}</td>
            <td>{{row.handicap ? 'Yes' : 'No'}}</td>
            <td>{{row.parkingRatePerHour | currency}}</td>
            <td><button *ngIf="!row.user && !parkedSomewhere" (click)='parkUser(row.spotId)'>Park</button></td>
            <td><button *ngIf="row.user && row.user.userId == this.userId" (click)='exitUser(row.spotId)'>Exit</button></td>
          </tr>
      </table>
    </div>
</div>