table {
  .tableHeaderRow {
      border-bottom: 1px solid black;
      background-color: #ccc;
      th {
          padding:10px;
          text-align: left;
      }
  }
  td {
      padding:10px;
      text-align: left;
      border-bottom: 1px solid black;
  }
}

button {
    margin: 2px;
    padding: 4px 8px;
    background: #fed;
    border: 1px solid #963;
    cursor: pointer;
    font-size: 0.85em;
  }
  
  button:hover {
    background: #fca;
  }